<div class="relative w-full">
  <%= image_tag "battle.png", alt: "たいきょくがめん", class: "w-full" %>

  <div class="absolute top-[calc(50%+10px)] left-1/2 -translate-x-1/2 -translate-y-1/2 w-1/2">
    <%= image_tag "onegaishimasu.png", alt: "おねがいします", class: "w-full h-auto" %>
  </div>
</div>

<div class="text-sm">
  <p>ターン: <%= @turn %></p>
  <p>次の頭文字: <%= @last_word %></p>
  <p>使った単語: <%= @used_words.join("、") %></p>
</div>

<div class="flex w-full gap-4">
  <%= link_to user_path(current_user), data: { turbo_method: :delete }, class: "w-1/2" do %>
    <%= image_tag "owari.png", alt: "おわり", class: "w-full h-auto" %>
  <% end %>

  <%= link_to restart_users_path, data: { turbo_method: :post }, class: "w-1/2" do %>
    <%= image_tag "mouichido.png", alt: "もういちど", class: "w-full h-auto" %>
  <% end %>
</div>
